<html>
<head>
	<title>Submition info</title>
	<style type="text/css">
	div{
		border: 1px solid black;
		display: inline-block;
		padding: 20px;
	}
	h2{
		padding: 0px;
		margin: 0px;
		text-decoration: underline;
		font-weight: bold;
	}
	tr{
		padding: 5px;
	}
	td{
		padding: 5px;
	}
	a{
		border: 1px solid black;
		background-color: lightgreen;
		text-decoration: none;
		padding: 2px;
		color: black;

	}
	</style>
</head>
<body>
	<div>
		<h2>Submitted information:</h2>
		<table>
			<tr>
				<td>My Name is:</td>
				<td><%= name %></td>
			</tr>
			<td>Dojo Location:</td>
			<td><%= location %></td>
			</tr>
			<tr>
				<td>Favorite Language:</td>
				<td><%= language %></td>
			</tr>
			<tr>
				<td>Comments:</td>
				<td><%= comment %></td>
			</tr>
			<tr>
				<td></td>
				<td><a href="/">Go Back</a></td>
			</tr>

		</table>
	</div>
</body>
</html>