body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 1px solid black;
  display: inline-block;
}

a {
  color: #00B7FF;
}

input,select,textarea{
	padding: 2px;
	margin: 5px;
}
h1{
	margin: 0px;
}
